<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>deltaG</th>
      <th>CHEMBL_ID</th>
      <th>NAME</th>
      <th>structureId</th>
      <th>uniprotAcc</th>
      <th>authorAssignedEntityName</th>
      <th>ligand_path</th>
      <th>protein_path</th>
      <th>ligand_structure</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>-12.6</td>
      <td>CHEMBL1755</td>
      <td>CONIVAPTAN</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL1755_03.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL1755_03.png" width="240" ></td>
    </tr>
    <tr>
      <td>-12.1</td>
      <td>CHEMBL383675</td>
      <td>TEMOPORFIN</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_D_CHEMBL383675_02.pdb</td>
      <td>PDBS/P0DTC9/6WZO_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_D_CHEMBL383675_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-12.1</td>
      <td>CHEMBL3391662</td>
      <td>PARITAPREVIR</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_D_CHEMBL3391662_01.pdb</td>
      <td>PDBS/P0DTC9/6WZO_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_D_CHEMBL3391662_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.9</td>
      <td>CHEMBL450449</td>
      <td>TRABECTEDIN</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_C_CHEMBL450449_05.pdb</td>
      <td>PDBS/P0DTC9/6WZO_C.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_C_CHEMBL450449_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.8</td>
      <td>CHEMBL608533</td>
      <td>MIDOSTAURIN</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_D_CHEMBL608533_03.pdb</td>
      <td>PDBS/P0DTC9/6WZO_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_D_CHEMBL608533_03.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.7</td>
      <td>CHEMBL442</td>
      <td>ERGOTAMINE</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_D_CHEMBL442_01.pdb</td>
      <td>PDBS/P0DTC9/6WZO_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_D_CHEMBL442_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.6</td>
      <td>CHEMBL1732</td>
      <td>DIHYDROERGOTAMINE</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_D_CHEMBL1732_01.pdb</td>
      <td>PDBS/P0DTC9/6WZO_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_D_CHEMBL1732_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.5</td>
      <td>CHEMBL1617</td>
      <td>RIFAXIMIN</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_D_CHEMBL1617_04.pdb</td>
      <td>PDBS/P0DTC9/6WZO_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_D_CHEMBL1617_04.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.5</td>
      <td>CHEMBL2311030</td>
      <td>ERGOLOID MESYLATES</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_B_CHEMBL2311030_02.pdb</td>
      <td>PDBS/P0DTC9/6WZO_B.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_B_CHEMBL2311030_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.4</td>
      <td>CHEMBL1200649</td>
      <td>QUINUPRISTIN</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_B_CHEMBL1200649_01.pdb</td>
      <td>PDBS/P0DTC9/6WZO_B.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_B_CHEMBL1200649_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.4</td>
      <td>CHEMBL3137309</td>
      <td>VENETOCLAX</td>
      <td>6WZO</td>
      <td>P0DTC9</td>
      <td>Nucleoprotein</td>
      <td>RESULTS/6WZO_D_CHEMBL3137309_01.pdb</td>
      <td>PDBS/P0DTC9/6WZO_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WZO_D_CHEMBL3137309_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.1</td>
      <td>CHEMBL85</td>
      <td>RISPERIDONE</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL85_05.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL85_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-11.0</td>
      <td>CHEMBL1015</td>
      <td>EVANS BLUE</td>
      <td>7BZ5</td>
      <td>P0DTC2</td>
      <td>Spike protein S1</td>
      <td>RESULTS/7BZ5_A_CHEMBL1015_01.pdb</td>
      <td>PDBS/P0DTC2/7BZ5_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/7BZ5_A_CHEMBL1015_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.8</td>
      <td>CHEMBL941</td>
      <td>IMATINIB</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL941_03.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL941_03.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.6</td>
      <td>CHEMBL1200712</td>
      <td>EVANS BLUE</td>
      <td>7BZ5</td>
      <td>P0DTC2</td>
      <td>Spike protein S1</td>
      <td>RESULTS/7BZ5_A_CHEMBL1200712_03.pdb</td>
      <td>PDBS/P0DTC2/7BZ5_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/7BZ5_A_CHEMBL1200712_03.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.6</td>
      <td>CHEMBL219916</td>
      <td>DOMPERIDONE</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL219916_05.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL219916_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.6</td>
      <td>CHEMBL481</td>
      <td>IRINOTECAN</td>
      <td>6WEY</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WEY_A_CHEMBL481_01.pdb</td>
      <td>PDBS/P0DTD1/6WEY_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WEY_A_CHEMBL481_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.6</td>
      <td>CHEMBL1017</td>
      <td>TELMISARTAN</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL1017_01.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL1017_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.5</td>
      <td>CHEMBL206253</td>
      <td>NETUPITANT</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL206253_02.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL206253_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.4</td>
      <td>CHEMBL218650</td>
      <td>DELAMANID</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL218650_05.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL218650_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.4</td>
      <td>CHEMBL3989866</td>
      <td>BICTEGRAVIR</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL3989866_05.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL3989866_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-10.4</td>
      <td>CHEMBL3989867</td>
      <td>BICTEGRAVIR SODIUM</td>
      <td>6WCF</td>
      <td>P0DTD1</td>
      <td>Non-structural protein 3</td>
      <td>RESULTS/6WCF_A_CHEMBL3989867_02.pdb</td>
      <td>PDBS/P0DTD1/6WCF_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6WCF_A_CHEMBL3989867_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.8</td>
      <td>CHEMBL2105755</td>
      <td>NALDEMEDINE</td>
      <td>6YZ5</td>
      <td>P0DTC2</td>
      <td>Spike glycoprotein</td>
      <td>RESULTS/6YZ5_E_CHEMBL2105755_05.pdb</td>
      <td>PDBS/P0DTC2/6YZ5_E.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YZ5_E_CHEMBL2105755_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.8</td>
      <td>CHEMBL1732</td>
      <td>DIHYDROERGOTAMINE</td>
      <td>6YZ5</td>
      <td>P0DTC2</td>
      <td>Spike glycoprotein</td>
      <td>RESULTS/6YZ5_E_CHEMBL1732_01.pdb</td>
      <td>PDBS/P0DTC2/6YZ5_E.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YZ5_E_CHEMBL1732_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.7</td>
      <td>CHEMBL442</td>
      <td>ERGOTAMINE</td>
      <td>7BZ5</td>
      <td>P0DTC2</td>
      <td>Spike protein S1</td>
      <td>RESULTS/7BZ5_A_CHEMBL442_04.pdb</td>
      <td>PDBS/P0DTC2/7BZ5_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/7BZ5_A_CHEMBL442_04.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.7</td>
      <td>CHEMBL383675</td>
      <td>TEMOPORFIN</td>
      <td>7BZ5</td>
      <td>P0DTC2</td>
      <td>Spike protein S1</td>
      <td>RESULTS/7BZ5_A_CHEMBL383675_01.pdb</td>
      <td>PDBS/P0DTC2/7BZ5_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/7BZ5_A_CHEMBL383675_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.6</td>
      <td>CHEMBL2374220</td>
      <td>LEDIPASVIR</td>
      <td>7BZ5</td>
      <td>P0DTC2</td>
      <td>Spike protein S1</td>
      <td>RESULTS/7BZ5_A_CHEMBL2374220_04.pdb</td>
      <td>PDBS/P0DTC2/7BZ5_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/7BZ5_A_CHEMBL2374220_04.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.6</td>
      <td>CHEMBL2103870</td>
      <td>LUMACAFTOR</td>
      <td>6YZ5</td>
      <td>P0DTC2</td>
      <td>Spike glycoprotein</td>
      <td>RESULTS/6YZ5_E_CHEMBL2103870_01.pdb</td>
      <td>PDBS/P0DTC2/6YZ5_E.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YZ5_E_CHEMBL2103870_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.6</td>
      <td>CHEMBL2311030</td>
      <td>ERGOLOID MESYLATES</td>
      <td>6YZ5</td>
      <td>P0DTC2</td>
      <td>Spike glycoprotein</td>
      <td>RESULTS/6YZ5_E_CHEMBL2311030_01.pdb</td>
      <td>PDBS/P0DTC2/6YZ5_E.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YZ5_E_CHEMBL2311030_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.6</td>
      <td>CHEMBL2028663</td>
      <td>DABRAFENIB</td>
      <td>6YZ5</td>
      <td>P0DTC2</td>
      <td>Spike glycoprotein</td>
      <td>RESULTS/6YZ5_E_CHEMBL2028663_05.pdb</td>
      <td>PDBS/P0DTC2/6YZ5_E.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YZ5_E_CHEMBL2028663_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.1</td>
      <td>CHEMBL254219</td>
      <td>DIGITOXIN</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_B_CHEMBL254219_05.pdb</td>
      <td>PDBS/P0DTC1/6YHU_B.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_B_CHEMBL254219_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.1</td>
      <td>CHEMBL3391662</td>
      <td>PARITAPREVIR</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_C_CHEMBL3391662_05.pdb</td>
      <td>PDBS/P0DTC1/6YHU_C.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_C_CHEMBL3391662_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.0</td>
      <td>CHEMBL608533</td>
      <td>MIDOSTAURIN</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_B_CHEMBL608533_02.pdb</td>
      <td>PDBS/P0DTC1/6YHU_B.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_B_CHEMBL608533_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.0</td>
      <td>CHEMBL2374220</td>
      <td>LEDIPASVIR</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_D_CHEMBL2374220_01.pdb</td>
      <td>PDBS/P0DTC1/6YHU_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_D_CHEMBL2374220_01.png" width="240" ></td>
    </tr>
    <tr>
      <td>-9.0</td>
      <td>CHEMBL1200969</td>
      <td>DUTASTERIDE</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_D_CHEMBL1200969_02.pdb</td>
      <td>PDBS/P0DTC1/6YHU_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_D_CHEMBL1200969_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.9</td>
      <td>CHEMBL1755</td>
      <td>CONIVAPTAN</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_B_CHEMBL1755_02.pdb</td>
      <td>PDBS/P0DTC1/6YHU_B.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_B_CHEMBL1755_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.8</td>
      <td>CHEMBL1200969</td>
      <td>DUTASTERIDE</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL1200969_02.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL1200969_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.8</td>
      <td>CHEMBL1751</td>
      <td>DIGOXIN</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_D_CHEMBL1751_05.pdb</td>
      <td>PDBS/P0DTC1/6YHU_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_D_CHEMBL1751_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.8</td>
      <td>CHEMBL255863</td>
      <td>NILOTINIB</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL255863_05.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL255863_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.8</td>
      <td>CHEMBL1293</td>
      <td>BETA CAROTENE</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_B_CHEMBL1293_04.pdb</td>
      <td>PDBS/P0DTC1/6YHU_B.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_B_CHEMBL1293_04.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.7</td>
      <td>CHEMBL2103870</td>
      <td>LUMACAFTOR</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_D_CHEMBL2103870_02.pdb</td>
      <td>PDBS/P0DTC1/6YHU_D.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_D_CHEMBL2103870_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.7</td>
      <td>CHEMBL383675</td>
      <td>TEMOPORFIN</td>
      <td>6YHU</td>
      <td>P0DTC1</td>
      <td>Replicase polyprotein 1a</td>
      <td>RESULTS/6YHU_B_CHEMBL383675_05.pdb</td>
      <td>PDBS/P0DTC1/6YHU_B.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6YHU_B_CHEMBL383675_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.5</td>
      <td>CHEMBL521686</td>
      <td>OLAPARIB</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL521686_04.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL521686_04.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.4</td>
      <td>CHEMBL3137309</td>
      <td>VENETOCLAX</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL3137309_05.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL3137309_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.1</td>
      <td>CHEMBL1732</td>
      <td>DIHYDROERGOTAMINE</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL1732_05.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL1732_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.1</td>
      <td>CHEMBL3545057</td>
      <td>ACETYLDIGITOXIN</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL3545057_05.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL3545057_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.0</td>
      <td>CHEMBL254219</td>
      <td>DIGITOXIN</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL254219_02.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL254219_02.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.0</td>
      <td>CHEMBL1171837</td>
      <td>PONATINIB</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL1171837_05.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL1171837_05.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.0</td>
      <td>CHEMBL1463345</td>
      <td>CANRENONE</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL1463345_04.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL1463345_04.png" width="240" ></td>
    </tr>
    <tr>
      <td>-8.0</td>
      <td>CHEMBL481</td>
      <td>IRINOTECAN</td>
      <td>6W37</td>
      <td>P0DTC7</td>
      <td>Protein 7a</td>
      <td>RESULTS/6W37_A_CHEMBL481_05.pdb</td>
      <td>PDBS/P0DTC7/6W37_A.pdb</td>
      <td><img src="https://gitlab.com/miromoman/drepy/-/raw/master/RESULTS/6W37_A_CHEMBL481_05.png" width="240" ></td>
    </tr>
  </tbody>
</table>
